.exam-page.is-exporting:not(.arabic-mode) .title-line-top,
body:not(.arabic-mode) .exam-page.is-exporting .title-line-top,
body:not(.arabic-mode) .exam-page.is-exporting .right-line-top {
  transform: translateY(3px) !important;
}

body:not(.arabic-mode) .exam-page.is-exporting .inline-class-input {
  transform: translateY(2px) !important;
}
